<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Articles</title>
</head>
<body>
{% if articles %}
    {% for i, article in articles%}
        <div class="article">
            <a href="/click/{{ i}}" target="_blank">
            <h2>{{ article.title }}</h2>
            <p>From {{ article.source.name }}</p>
            <p>By: {{ article.author }}</p>
            <img src="{{ article.url }}" alt={{ article.content }}/>
            <p>{{ article.description }}</p>
            </a>
        </div>
    {% endfor %}
{% endif %}
</body>
</html>