<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Articles</title>
    <link rel="stylesheet" href="/static/news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/redirects.js"></script>
</head>
<body>
<nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>
    {% for article in articles%}
        <div class="article">
            <a href="{{ article[7] }}" target="_blank" onclick="track(this, {{ article[0] }})">
                <h2>{{ article[4] }}</h2>
                <p>From {{ article[2] }}</p>
                <p>By: {{ article[3] }}</p>
                <p>{{ article[5] }}</p>
                <p>{{ article[6] }}</p>
            </a>
                <p>Rating</p>
                    <div class="stars">
                        <input type="radio" id="star1" name="star{{article[0]}}" value="1">
                        <label for="star1">1</label>
                        <input type="radio" id="star2" name="star{{article[0]}}" value="2">
                        <label for="star2">2</label>
                        <input type="radio" id="star3" name="star{{article[0]}}" value="3" checked>
                        <label for="star3">3</label>
                        <input type="radio" id="star4" name="star{{article[0]}}" value="4">
                        <label for="star4">4</label>
                        <input type="radio" id="star5" name="star{{article[0]}}" value="5">
                        <label for="star5">5</label>
                        <button onclick="rate(this, {{  article[0] }})" >Rate</button>
                    </div>
        </div>
    {% endfor %}
    <img src="/static/Rewardactorcritic.png" alt="Actorcriticreward">
</body>
</html>