<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Articles</title>
    <link rel="stylesheet" href="/static/news.css">
</head>
<body>
<nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>
{% if articles %}
    {% for article in articles%}
        <div class="article">
            <a href="/click/{{ article[0] }}" target="_blank">
            <h2>{{ article[4] }}</h2>
            <p>From {{ article[2] }}</p>
            <p>By: {{ article[3] }}</p>
            <img src="{{ article[7] }}" alt={{ article[4] }}/>
            <p>{{ article[5] }}</p>
                <p>{{ article[6] }}</p>
            </a>
        </div>
    {% endfor %}
{% endif %}
</body>
</html>