<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/register">
    <label for="username">Username:
        <input type="text" name="username" id="username" placeholder="Username"/>
    </label>
    <label for="password">Password:
        <input type="password" name="password" id="password" placeholder="Password"/>
    </label>
    <label for="age">Age:
        <input type="number" name="age" id="age" min="0" max="100"/>
    </label>
    <label for="gender">Gender:
        <input type="number" name="age" id="age" min="0" max="100"/>
    </label>

</form>


</body>
</html>