<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
<form method="post" action="/register">
    <label for="username">Username:
        <input type="text" name="username" id="username" placeholder="Username"/>
    </label>
    <label for="password">Password:
        <input type="password" name="password" id="password" placeholder="Password"/>
    </label>
    <label for="age">Age:
        <input type="number" name="age" id="age" min="0" max="100"/>
    </label>
    <label for="gender">Gender:
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other/Prefer not to say</option>
        </select>
    </label>
    <div class="category">
        <p>General News Category Rating</p>
        <label for="general1">
            <input type="radio" name="g" id="general1" value="1">
            1
        </label>
        <label for="general2">
            <input type="radio" name="g" id="general2" value="2">
            2
        </label>
        <label for="general3">
            <input type="radio" name="g" id="general3" value="3">
            3
        </label>
        <label for="general4">
            <input type="radio" name="g" id="general4" value="4">
            4
        </label>
        <label for="general5">
            <input type="radio" name="g" id="general5" value="5">
            5
        </label>
    </div>
    <div class="category">
        <p>Business News Category Rating</p>
        <label for="business1">
            <input type="radio" name="b" id="business1" value=="1">
            1
        </label>
        <label for="business2">
            <input type="radio" name="b" id="business2" value=2" >
            2
        </label>
        <label for="business3">
            <input type="radio" name="b" id="business3" value=3" >
            3
        </label>
        <label for="business4">
            <input type="radio" name="b" id="business4" value=4" >
            4
        </label>
        <label for="business5">
            <input type="radio" name="b" id="business5" value=5" >
            5
        </label>
    </div>
    <div>
        <p>Entertainment News Category Rating</p>
        <label for="e1">
            <input type="radio" name="e" id="e1" value=="1">
            1
        </label>
        <label for="e2">
            <input type="radio" name="e" id="e2" value=2" >
            2
        </label>
        <label for="e3">
            <input type="radio" name="e" id="e3" value=3" >
            3
        </label>
        <label for="e4">
            <input type="radio" name="e" id="e4" value=4" >
            4
        </label>
        <label for="e5">
            <input type="radio" name="e" id="e5" value=5" >
            5
        </label>

    </div>
    <div class="category">
        <p>Health News Category Rating</p>
        <label for="h1">
            <input type="radio" name="h" id="h1" value=="1">
            1
        </label>
        <label for="h2">
            <input type="radio" name="h" id="h2" value=2" >
            2
        </label>
        <label for="h3">
            <input type="radio" name="h" id="h3" value=3" >
            3
        </label>
        <label for="h4">
            <input type="radio" name="h" id="h4" value=4" >
            4
        </label>
        <label for="h5">
            <input type="radio" name="h" id="h5" value=5" >
            5
        </label>

    </div>
    <div class="category">
        <p>Science News Category Rating</p>
        <label for="sc1">
            <input type="radio" name="sc" id="sc1" value=="1">
            1
        </label>
        <label for="sc2">
            <input type="radio" name="sc" id="sc2" value=2" >
            2
        </label>
        <label for="sc3">
            <input type="radio" name="sc" id="sc3" value=3" >
            3
        </label>
        <label for="sc4">
            <input type="radio" name="sc" id="sc4" value=4" >
            4
        </label>
        <label for="sc5">
            <input type="radio" name="sc" id="sc5" value=5" >
            5
        </label>

    </div>
    <div class="category">
        <p>Sports News Category Rating</p>
        <label for="sp1">
            <input type="radio" name="sp" id="sp1" value=="1">
            1
        </label>
        <label for="sp2">
            <input type="radio" name="sp" id="sp2" value=2" >
            2
        </label>
        <label for="sp3">
            <input type="radio" name="sp" id="sp3" value=3" >
            3
        </label>
        <label for="sp4">
            <input type="radio" name="sp" id="sp4" value=4" >
            4
        </label>
        <label for="sp5">
            <input type="radio" name="sp" id="sp5" value=5" >
            5
        </label>

    </div>

    <input type="submit" />
</form>


</body>
</html>