<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/register">
    <label for="username">Username:
        <input type="text" name="username" id="username" placeholder="Username"/>
    </label>
    <label for="password">Password:
        <input type="password" name="password" id="password" placeholder="Password"/>
    </label>
    <label for="age">Age:
        <input type="number" name="age" id="age" min="0" max="100"/>
    </label>
    <label for="gender">Gender:
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other/Prefer not to say</option>
        </select>
    </label>
    <div>
        <p>General News Category Rating</p>
        <label for="general1">
            <input type="radio" name="general1" id="general1" value="1">
            1
        </label>
        <label for="general2">
            <input type="radio" name="general2" id="general2" value="2">
            2
        </label>
        <label for="general3">
            <input type="radio" name="general3" id="general3" value="3">
            3
        </label>
        <label for="general4">
            <input type="radio" name="general4" id="general4" value="4">
            4
        </label>
        <label for="general5">
            <input type="radio" name="general5" id="general5" value="5">
            5
        </label>
    </div>
    <div>
        <p>Business News Category Rating</p>
        <label for="business1">
            <input type="radio" name="business1" id="business1" value=="1">
            1
        </label>
        <label for="business2">
            <input type="radio" name="business2" id="business2" value=2" >
            2
        </label>
        <label for="business3">
            <input type="radio" name="business3" id="business3" value=3" >
            3
        </label>
        <label for="business4">
            <input type="radio" name="business4" id="business4" value=4" >
            4
        </label>
        <label for="business5">
            <input type="radio" name="business5" id="business5" value=5" >
            5
        </label>
    </div>

</form>


</body>
</html>